
.background, .background-destination, .background-crew, .background-technology {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-size: 100vw 100vh;
}
.background {
  background-image: url("../../public/images/home/background-home-desktop.jpg");
}
.background-destination {
  background-image: url("../../public/images/destination/background-destination-desktop.jpg");
}
.background-crew {
  background-image: url("../../public/images/crew/background-crew-desktop.jpg");
}
.background-technology {
  background-image: url("../../public/images/technology/background-technology-desktop.jpg");
}

@media (max-width: 700px) {
  .background {
    background-image: url("../../public/images/home/background-home-mobile.jpg") !important;
  }
  .background-destination {
    background-image: url("../../public/images/destination/background-destination-mobile.jpg");
  }
  .background-crew {
    background-image: url("../../public/images/crew/background-crew-mobile.jpg");
  }
  .background-technology {
    background-image: url("../../public/images/technology/background-technology-mobile.jpg");
  }
}