.main {
  display: flex;
  margin-top: 30px;

  h1 {
    font-size: 82px;
    font-family: 'Bellefair';
    margin: 0;
  }
  p {
    color: #D0D6F9;
  }

  .home-left {
    width: 50%;
    padding: 60px;
    margin-left: 20px;

  }

  .home-right {
    padding: 30px;
    margin-bottom: 80px;
    width: 50%;
    align-self: end;
    text-align: right;

    a {
      background-color: white;
      padding: 80px 50px;
      border-radius: 50%;
      margin: 0 30% 60px 0;
      cursor: pointer;
      text-decoration: none;
      font-family: 'Barlow';
      font-weight: 400;
      letter-spacing: 2px;
      font-size: 22px;
      color: black;

      &:visited {
        color: black;
      }
    }
  }
}